{% extends 'base.html' %}

{% block external_style %}
<style>
    .grid-container {
      display: grid;
      gap: 10px;
      grid-template-columns: auto auto auto;
      background-color: #1245;
      padding: 10px;
      height: max-content;
      width: fit-content;
    }
    .grid-item {
      color: rgb(199, 201, 116);
      background-color: rgba(100, 100, 100, 0.8);
      border: 3px solid rgba(0, 0, 0, 0.8);
      padding: 20px 20px;
      font-size: 40px;
      text-align: center;
      width: 30px;
      height: 30px;
    }
    </style>
{% endblock external_style %}

{% block title %}TicTacToe{% endblock title %}

{% block content %}
<ul>
    <li>
        <a href="{{ url_for('salam') }}">Home</a>
    </li>
</ul>

<h1>
    <input id="board-range" type="range" value="3" onchange="expandBoard()" step="2" min="3" max="7" />
    <span id="boardRangeValue" class="badge bg-secondary"></span>
</h1>

<div id="time"> 
    <span class="digit" id="hr">00</span>
    <span class="txt">Hr</span>
    <span class="digit" id="min">00</span>
    <span class="txt">Min</span>
    <span class="digit" id="sec">00</span>
    <span class="txt">Sec</span>
    <span class="digit" id="count">00</span>
</div> <br>
<button id="player" onclick="switchPlayer()" type="button" class="btn btn-primary">X</button>
<button id="reset" onclick="expandBoard()" type="button" class="btn btn-primary">Reset</button>
<br><br>

<div id="board" class="grid-container">
</div>

<script>
    let hasGameEnded = false;
    let hasGameStarted = false;

    // following four variables to control the stopwatch
    let hh = 0;
    let mm = 0;
    let ss = 0;
    let ms = 1;

    expandBoard();

    function resetStopWatch() {
        document.getElementById('count').innerText = 0;
        document.getElementById('sec').innerText = 0;
        document.getElementById('min').innerText = 0;
        document.getElementById('hr').innerText = 0;
    }

    function startStopWatch() {
        // if (hasGameStarted) {
        //     return;
        // }
        // hasGameStarted = true;

        ms += ms;
        document.getElementById('count').innerText = ms;

        ss += 1;

        if (ss === 60) {
            ss = 0;
            mm += 1;
            document.getElementById('min').innerText = mm;
        } if (mm === 60) {
            mm = 0;
            hh += 1;
            document.getElementById('hr').innerText = hh;
        }

        document.getElementById('sec').innerText = ss;
    }

    setInterval(startStopWatch, 1000);

    // returns current player
    function getPlayer() {
        return document.querySelector('#player').innerText;
    }

    function switchPlayer() {
        let player = getPlayer();
        if (player === 'X')
            document.querySelector('#player').innerText = 'O';
        else
            document.querySelector('#player').innerText = 'X';
    }

    // to update the cell when user clicks from from frontend
    function updatePlayer(id) {
        if (hasGameEnded) {
            return;
        }

        let rowValue = id.split('-')[1];
        let colValue = id.split('-')[2];

        let cellDiv = document.getElementById(id);
        if (cellDiv.innerText === '') {
            cellDiv.innerText = getPlayer();

            if (checkForWin(id)) {
                console.log(`${getPlayer()} Has Won!`);
            }

            switchPlayer();
        } else {
            console.log('Already Filled!')
        }
    }

    function getBoardSize() {
        return parseInt(document.getElementById('board-range').value);
    }

    function getRowNumberFromId(id) {
        return id.split('-')[1]
    }

    function getColNumberFromId(id) {
        return id.split('-')[2]
    }

    function getCellIdString(row, col) {
        return `cell-${row}-${col}`;
    }

    function getCellValue(cellId) {
        return document.getElementById(cellId).innerText;
    }

    function checkForWin(id) {
        let tempRowValues = new Set();
        let tempColValues = new Set();
        let rowNumber = getRowNumberFromId(id);
        let colNumber = getColNumberFromId(id);
        let rightDigonalValues = new Set();
        let leftDiagonalValues = new Set();
        let boardSize = getBoardSize();

        for (i=0; i<boardSize; i++) {
            // getting row values by keeping the row# same,
            // and chaning the col#
            tempRowValues.add(getCellValue(getCellIdString(rowNumber, i)));
            // getting column values by keeping the col# same,
            // and changing row#
            tempColValues.add(getCellValue(getCellIdString(i, colNumber)));
            // for right diagonal, row# & col# values increase simultaneously,
            // like (0,0), (1,1) ...
            rightDigonalValues.add(getCellValue(getCellIdString(i, i)));
            // for left diagonal, row# & col# increase in reverse order,
            // like in case of 3x3 ==> (0,2), (1,1), (2,0)
            leftDiagonalValues.add(getCellValue(getCellIdString(i, boardSize - 1 - i)));
        }

        if ((tempRowValues.size === 1 && tempRowValues.has(getPlayer()))
        || (tempColValues.size === 1 && tempColValues.has(getPlayer()))
        || (rightDigonalValues.size === 1 && rightDigonalValues.has(getPlayer()))
        || (leftDiagonalValues.size === 1 && leftDiagonalValues.has(getPlayer()))
        ) {
            hasGameEnded = true;
            document.getElementById('board-range').disabled = true;
            return true;
        }
        return false;
    }

    // set the # of columns according to input range
    function changeBoardColumns(numOfCols) {
        let temp = 'auto';
        for (i=0; i<parseInt(numOfCols) - 1; i++) {
            temp += ' auto';
        }
        board.style.gridTemplateColumns = temp;
    }

    // generates a grid cell div
    function getInnerGridCellDiv(id) {
        let cellDiv = document.createElement('div');
        cellDiv.setAttribute('id', id);
        cellDiv.setAttribute('class', 'grid-item');
        cellDiv.setAttribute('onclick', 'updatePlayer(this.id)');

        return cellDiv;
    }

    // makes the board accorind to # of cols from input range
    function expandBoard() {
        hasGameEnded = false;
        document.getElementById('board-range').disabled = false;
        let boardRange = document.getElementById('board-range');
        let boardDiv = document.getElementById('board');

        changeBoardColumns(boardRange.value);
        document.getElementById('boardRangeValue').innerText = boardRange.value;

        boardDiv.innerHTML = '';
        for (i=0; i<boardRange.value; i++) {
            for (j=0; j<boardRange.value; j++) {
                boardDiv.appendChild(getInnerGridCellDiv(`cell-${i}-${j}`));
            }
        }
    }
</script>
{% endblock content %}
