{% extends 'base.html' %}

{% block external_style %}
<style>
    .grid-container {
      display: grid;
      gap: 10px;
      grid-template-columns: auto auto auto;
      background-color: #1245;
      padding: 10px;
      height: max-content;
      width: fit-content;
    }
    .grid-item {
      color: rgb(199, 201, 116);
      background-color: rgba(100, 100, 100, 0.8);
      border: 3px solid rgba(0, 0, 0, 0.8);
      padding: 30px 30px;
      font-size: 20px;
      text-align: center;
      width: 30px;
      height: 30px;
    }
    </style>
{% endblock external_style %}

{% block title %}TicTacToe{% endblock title %}

{% block content %}
<h1>Tic Tac Toe!</h1>

<h1>
    <input id="board-range" type="range" value="3" onchange="expandBoard()" step="2" min="3" max="7" />
    <span id="boardRangeValue" class="badge bg-secondary">New</span>
</h1>
<button id="player" onclick="switchPlayer()" type="button" class="btn btn-primary">X</button>
<button id="reset" onclick="expandBoard()" type="button" class="btn btn-primary">Reset</button>
<br><br>

<div id="board" class="grid-container">
</div>

<script>
    expandBoard();

    // returns current player
    function getPlayer() {
        return document.querySelector('#player').innerText;
    }

    function switchPlayer() {
        let player = getPlayer();
        if (player === 'X')
            document.querySelector('#player').innerText = 'O';
        else
            document.querySelector('#player').innerText = 'X';
    }

    // to update the cell when user clicks from from frontend
    function updatePlayer(id) {
        console.log(id);
        let rowValue = id.split('-')[1];
        let colValue = id.split('-')[2];

        document.getElementById(id).innerText = getPlayer();
        switchPlayer();
    }

    // set the # of columns according to input range
    function changeBoardColumns(numOfCols) {
        console.log(numOfCols);
        let temp = 'auto';
        for (i=0; i<parseInt(numOfCols) - 1; i++) {
            temp += ' auto';
        }
        board.style.gridTemplateColumns = temp;
    }

    // generates a grid cell div
    function getInnerGridCellDiv(id) {
        let cellDiv = document.createElement('div');
        cellDiv.setAttribute('id', id);
        cellDiv.setAttribute('class', 'grid-item');
        cellDiv.setAttribute('onclick', 'updatePlayer(this.id)');

        return cellDiv;
    }

    // makes the board accorind to # of cols from input range
    function expandBoard() {
        let boardRange = document.getElementById('board-range');
        let boardDiv = document.getElementById('board');

        changeBoardColumns(boardRange.value);
        document.getElementById('boardRangeValue').innerText = boardRange.value;

        boardDiv.innerHTML = '';
        for (i=0; i<boardRange.value; i++) {
            for (j=0; j<boardRange.value; j++) {
                boardDiv.appendChild(getInnerGridCellDiv(`cell-${i}-${j}`));
            }
        }
    }
</script>
{% endblock content %}
